<%- include('partials/header') %>
<main>
        <div class="form-container">
            <div class="account-details">
                <h1>Account Details</h1>
                <p><span>Username:</span> John_Smith209</p>
                <p><span>Display Name:</span> John Smith</p>
                <p><span>Email:</span> johnsmith209@gmail.com</p>
                
                <div class="form-group password-reset">
                    <input type="password" placeholder="New Password">
                    <button class="btn-primary">Reset</button>
                </div>
            </div>

            <button class="btn-secondary">Disable Account</button>
            <button class="btn-secondary">Delete Account</button>
        </div>
    </main>
    
<%- include('partials/footer') %>